<!DOCTYPE html>
<html
	{{ site.language_attributes }}>
	{# Используйте атрибуты языка WordPress #}
	<head>
		<meta
		charset="{{ site.charset }}">
		{# Установите кодировку #}
		<meta
		name="viewport" content="width=device-width, initial-scale=1">
		{# Обязательно для адаптивности #}
		{{ function('wp_head') }}

	</head>
	<body
		class="{{ body_class }}">
		{# Тег body начинается здесь #}
		{% include "partials/header.twig" %}
		<main>
			{% block content %}
				{% include "partials/hero.twig" %}
				{% include "partials/despre.twig" %}
				{% include "partials/sprijin.twig" %}
				{% include "partials/beneficiari.twig" %}
				{% include "partials/criterii.twig" %}
				{% include "partials/procedura.twig" %}
				{% include "partials/succes.twig" %}
				{% include "partials/instrumente.twig" %}
				{% include "partials/faq.twig" %}
			{% endblock %}
		</main>

		{% include "partials/footer.twig" %}

		{{ function('wp_footer') }}
	</body>
</html>
